POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=splitshot
POSTGRES_MULTIPLE_DATABASES=splitshot_test
POSTGRES_PORT=5433

DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5433/splitshot
TEST_DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5433/splitshot_test
